@import url("reset.css");

:root{
    --color-primario: #0A3871;
    --color-secundario: #D8DFE8;
    --color-background: #F3F5FC;
    --color-claro: #E8E8E8;;
    --color-gris: #495057;
    --color-gris-oscuro: #343A40;

    --font-principal: "Inter", sans-serif;
}

*{
    box-sizing: border-box;
}

body{
    background: var(--color-background);
}