@import url("reset.css");

:root{
    --color-primario: #0A3871;
    --color-secundario: #D8DFE8;
    --color-background: #F3F5FC;
    --color-blanco: #ffffff;
    --color-gris-claro: #E8E8E8;;
    --color-gris: #495057;
    --color-gris-oscuro: #343A40;
    --color-icon: #67808E;

    --font-principal: "Inter", sans-serif;
}

*{
    box-sizing: border-box;
}

body{
    background: var(--color-background);
    width: 100%;
}

h1{
    position: fixed;
    margin: 20px;
    width: 48px;
}

main{
    margin: 0 20px;
}

.container{
    width: 100%;
}

.caja-input{
    width: 100%;
}

#texto-ingresado{
    width: 100%;
    border: none;
    background: none;
    font: normal 1.8em var(--font-principal);
    color: var(--color-primario);
    margin-top: 4em;
    resize: none;
}

#texto-ingresado::placeholder{
    color: var(--color-primario);
}

#texto-ingresado:focus-visible{
    outline: none;
}

form p{
    font-family: var(--font-principal);
    color: var(--color-gris);
    margin: 1em auto 0;
}

form i{
    color: var(--color-icon);
}

.caja-buttons {
    display: flex;
    flex-direction: column;
}

@media (min-width: 500px) {
    .caja-buttons {
        width: 100%;
        flex-direction: row;
        gap: 1em;
        justify-content: space-between;
    }
}

button {
    width: 100%;
    padding: 1em;
    border-radius: 1.5em;
    font: normal 1.2em var(--font-principal);
    border: 1px solid var(--color-primario);
    margin: 0.5em auto;
}


.encriptar {
    background: var(--color-primario);
    color: var(--color-gris-claro);
}

.desencriptar,
.copiar {
    background: none;
    color: var(--color-primario);
}

.caja-output{
    background: var(--color-blanco);  
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border-radius: 1.5em;
    padding: 2em;
    margin: 3em auto 0;
}



.muñeco{
    width: 50%;
    margin: auto;
    display: none;
}

.sin-mensaje{
    font: 900 1.5em var(--font-principal);
    color: var(--color-gris-oscuro);
    margin: 0 0 1em;
}

.solucion{
    font: 1em var(--font-principal);
}

.copiar{
    margin: 1.5em auto 0;
}


