@import url("reset.css");

:root{
    --color-primario: #0A3871;
    --color-secundario: #D8DFE8;
    --color-background: #F3F5FC;
    --color-blanco: #ffffff;
    --color-gris-claro: #E8E8E8;;
    --color-gris: #495057;
    --color-gris-oscuro: #343A40;
    --color-icon: #67808E;

    --font-principal: "Inter", sans-serif;
}

*{
    box-sizing: border-box;
}

body{
    background: var(--color-background);
    width: 100%;
}

header{
    width: 100%;
    margin: 1.5em 1em;
}
h1{
    width: 2em;
}

main{
    margin: 0 20px;
}

.container{
    align-items: center;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    gap: 1em;
}

@media (min-width: 1000px) {
    .container{
        flex-direction: row;
    }
}

.caja-input{
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5em;
}

#texto-ingresado{
    width: 100%;
    height: 60%;
    border: none;
    padding: 0;
    background: none;
    font: normal 1.8em var(--font-principal);
    color: var(--color-primario);
    resize: none;
}

#texto-ingresado::placeholder{
    color: var(--color-primario);
}

#texto-ingresado:focus-visible{
    outline: none;
}

.caja-alert-buttons{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5em;
}

form p{
    font-family: var(--font-principal);
    color: var(--color-gris);
    margin: auto;
}

form i{
    color: var(--color-icon);
}

.caja-buttons {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

@media (min-width: 500px) {
    .caja-buttons {
        width: 100%;
        flex-direction: row;
        gap: 1em;
        justify-content: flex-end;
    }
}

button {
    width: 100%;
    padding: 1em;
    border-radius: 1.5em;
    font: normal 1em var(--font-principal);
    border: 1px solid var(--color-primario);
    margin: auto;
}


.encriptar {
    background: var(--color-primario);
    color: var(--color-gris-claro);
}

.desencriptar,
.copiar {
    background: none;
    color: var(--color-primario);
}

.caja-output{
    width: 100%;
    background: var(--color-blanco);  
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    gap: 0.5em;
    border-radius: 1.5em;
    padding: 1em;
    box-shadow: var(--color-secundario) 0 24px 32px -8px;
}

@media (min-width: 1000px) {
    .caja-output{
        width: 30%;
        height: 80%;
    }
}

.muñeco{
    width: 50%;
    margin: auto;
    display: none;
}

.sin-mensaje{
    font: 900 1.3em var(--font-principal);
    color: var(--color-gris-oscuro);
}

.solucion{
    font: 1em var(--font-principal);
}

.copiar{
    margin: auto;
    display: none;
}


